.bg-paper  {
  background-image: url('../../storage/auth_image_gib.jpg');
  /* opacity: 0.95; */
  background-position: center;
  padding-bottom: 500px;
  max-width: 100%;
  width: 100%;
}

.navbar-kc {
  height: 70px;
}

.card {
  margin-top: 5rem;
  opacity: 0.95;
}
